@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

body    
{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-intro-items 
{
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color:#00ffff; 
    text-shadow: -2px -2px 4px black;
    text-align: center;
    list-style-type: none;
}

.h1-title 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    text-shadow: 0px 0px 16px black;
    margin: 20px 0;
    padding-bottom: 10px;
}

.h2-title 
{
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0px 0px 16px black;
    padding: 15px 30px;
}

.menu-intro 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color:#00ffff; 
    font-weight: bold;
    text-shadow: -2px -2px 4px black;
    padding-bottom: 10px;
}

.header-nav-properties   
{
    font-size: 13px;
    padding-top: 50px; 
    box-sizing: border-box;
    display: flex; 
    text-align: center;
    justify-content: center;
    font-weight: 600;
    gap: 10px;
}

a   
{
    color: #000000;
    text-decoration: none;
}

.header-image-properties   
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

header img    
{
    box-sizing: border-box;
    display: flex;
    padding-top: 50px; 
    width: 150px;
}

.header-nav-properties a:hover  
{
    color: #ff0000;
}

.social-media  
{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}

.footer-image-properties   
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.footer-image-properties img   
{
    width: 150px;
}

.social-media img    
{
    padding-top: 50px;
    width: 80px;
}

.social-media .facebook:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

.social-media .instagram:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

.social-media .pinterest:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

hr 
{
    margin-top: 20px; 
    border: none;
    height: 2px;
    background: #c0c0c07a;
}

h4 
{
    text-align: center;
    margin-top: 20px;
    color: #8e8e8e;
    font-weight: 500;
    margin-bottom: 20px;
}

.products 
{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products img 
{
    width: 200px;
    margin-bottom: 15px;
}

